name: Build image and push to GitHub Container Registry

on:
  workflow_call:
    inputs:
      dockerfile:
        required: false
        type: string
      context:
        required: false
        type: string
        default: .
      target:
        required: false
        type: string
        default: null
      tags:
        required: true
        type: string
    secrets:
      access_token:
        required: true


jobs:
  docker_build:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.access_token }}

      - name: Build and push to GitHub Container Registry
        uses: docker/build-push-action@v3
        with:
          context: ${{ inputs.context }}
          tags: ${{ inputs.tags }}
          push: true
          target: ${{ inputs.target }}
          file: ${{ inputs.dockerfile }}

      - name: Image data
        run: |
          echo "Image Id: ${{ steps.docker_build.outputs.imageid }}" 
          echo "Image Digest: ${{ steps.docker_build.outputs.digest }}" 
          echo "Image Metadata: ${{ steps.docker_build.outputs.metadata }}"
